body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(170, 170, 170);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
    margin-left : 15%;
    margin-right : 15%;
    background-color: rgb(255, 255, 255);
}

.box_1{
    background-image: url('./images/back\ image.jpg');
    background-size: cover;
    border: 1px solid ;
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_2{
    height: 80%;
    width: 30%;
    border: 1px solid blue;
    padding-left: 10%;
    /* padding-right: 10%; */
}

h1{
    padding-top: 40px;
}

input, #name{
    padding: 3%;
    padding-right: 10%;
    margin-top: 3%;
}

button{
    padding-right: 35%;
    padding-left: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(187, 0, 255);
    color: white;
    border-radius: 5px;
    border-color: rgb(187, 0, 255);
}

.radio{
    color: gray;
}

h2{
    color: white;
}

a{
    color: rgb(216, 216, 216);
}